<%= link_to "Add Recipe", new_recipe_path %>
<% if @recipes.length > 0 %>
    <% @recipes.each_with_index do |recipe, index| %>
        <%= render partial: "shared/recipeCard", locals:{ recipe: recipe, index:index } %>
    <% end %>
<% else %>
    <div>
        <%= 'No recipe to display' %>
    </div>
<% end %>