<div class="relative border-2 w-full  px-3 pt-3 pb-5">
    <h2 class="text-xl font-medium">
        <%= link_to "Recipe ##{index + 1}", user_recipe_path(@user.id, recipe.id) %>
    </h2>
    
    <div>
        <%= recipe.description %>
    </div>
</div>