<div>
    <div>
        <h1>
            <%= link_to recipe.name, user_recipe_path(@user.id, recipe.id) %>
        </h1>
        <p>
            <%= "By #{@user.name}" %>
        </p>
    </div>
    <div>
        <p> <%= recipe.description %><p>
    </div>
</div>