<%= link_to 'Add Food', new_user_food_path %>

<% if @foods.length > 0 %>
    <%= render partial: 'foods', locals: {foods: @foods } %>
<% else %>
    <div>
        <%= 'No food to display' %>
    </div>
<% end %>

